<% var key = new Date().toLocaleString();
key = key.replace(/\:/g,"");
key = key.replace(/\//g,"");
key = key.replace(/\ /g,"");
key = key.replace(/\-/g,"");
%>
<div class="col-md-10 col-md-offset-1" id="<%= key%>">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="page-header">Centros de Costo			<a class="btn btn-success pull-right" data-toggle="modal" href="#new_cdc"> + Crear</a></h1>
		</div>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Nombre</th>
				<th>Fecha de inicio</th>
				<th>Egresos totales</th>
				<th>Ingresos totales</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<% if(data.length){
				for(var i = 0;i<data.length;i++){
				%>
			<tr>
				<td><%= data[i].nombre%></td>
				<td><%= new Date(data[i].f_inicio).toLocaleDateString()%></td>
				<td><%= data[i].e_total%></td>
				<td><%= data[i].i_total%></td>
				<td><a class="btn btn-info vercdc" data-idcdc="<%= data[i].idcdc%>"><i class="fa fa-eye"></i>Ver</a></td>
			</tr>
			<% }
			} else {%>
			<%}%>
			</tbody>
		</table>
	</div>

</div>

<script type="text/javascript">
	$("#<%= key%> .vercdc").click(function(e){
	    $.ajax({
			url:"/cdc/show/" + $(this).data('idcdc'),
			success: function(data){
			    $("#page-container").html(data);
			}
		})
	})
</script>