

<div class="owl-carousel">
<%var gasPrice = new Intl.NumberFormat('es-CL',
		{ style: 'currency', currency: 'CLP',
			minimumFractionDigits: 0 });
if(data.length){
	var ahora = new Date(data[0].fecha).toLocaleDateString();
	var cordion = 0;%>
	<div class='item imporDate'>
		<h4><b>Fecha:<%= ahora%> </b> </h4>
		<div class="panel-group" id="accordion0" role="tablist" aria-multiselectable="true">
		<% for(var i=0; i< data.length; i++){
			if(ahora != new Date(data[i].fecha).toLocaleDateString()){
				cordion +=1;
				ahora = new Date(data[i].fecha).toLocaleDateString();%>
		</div>
	</div>
	<div class='item imporDate'>
		<h4><b>Fecha:<%= ahora%> </b> </h4>
		<div class="panel-group" id="accordion<%= cordion%>" role="tablist" aria-multiselectable="true">
			<%}%>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading<%= data[i].idpago%>">
					<h3 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion<%= cordion%>" href="#collapse<%= data[i].idpago%>" aria-expanded="true" aria-controls="collapseOne">
							<strong><%=data[i].detalle%></strong><small class="pull-right"><%= gasPrice.format(data[i].monto)%></small>
						</a>
					</h3>
				</div>
				<div class='panel-collapse collapse' id='collapse<%= data[i].idpago%>' role="tabpanel" aria-labelledby="heading<%=data[i].idpago%>">
					<div class='form-inline'>
						<div class='input-group'>
							<span class='input-group-addon' id='basic-addon<%= data[i].idpago%>'><span class='glyphicon glyphicon-calendar'></span></span>
							<input type='date' class='form-control' min="<%= new Date().toLocaleDateString()%>" value="<%= new Date( data[i].fecha).toLocaleDateString()%>" placeholder='Ingrese nueva fecha' aria-describedby='basic-addon<%= data[i].idpago%>' id="inputdate<%=i%>">
						</div>
						<button type='button' class='btn btn-primary saveDate' data-idinput='<%= i%>' style='margin: 5px;'>Guardar</button>
					</div>
				</div>
			</div>
		<%}%>
		</div>
	</div>									<!--<button class='btn btn-primary' type='button' data-toggle='collapse' data-target='#collapse<%= i%>' aria-expanded='false' aria-controls='collapse<%= i%>'>Modificar evento</button>-->
<%}%>
</div>

<script type="text/javascript">
	$(".owl-carousel").owlCarousel({
				        navigation : true, // Show next and prev buttons
				        slideSpeed : 300,
				        paginationSpeed : 400,
				        singleItem: true,

				        // "singleItem:true" is a shortcut for:
				        items : 2
				        //itemsDesktop : false
				        // itemsDesktopSmall : false,
				        // itemsTablet: false,
				        // itemsMobile : false
				});



		var idpago;

	$(".editDate").on('click', function(e){
		e.preventDefault();
		idpago = $(this).data('idpago');
	});


	$(".saveDate").on('click', function(e){
		e.preventDefault();
		var inputdate =  $("#inputdate"+$(this).data('idinput')).val();
		console.log($(this).val());
		$.ajax({
			type: 'GET',
			url: '/save_date/'+idpago+'/'+inputdate,
			success: function(data){
                $(".main").html(data);
			}
		});
	});

</script>


