<style type="text/css">
	.item-click:hover{
		cursor: pointer;
	}
	.day-item{
		height: 100%;
		padding: 5px;
		border-radius: 5%;
		border: 1px solid #0074d9;
	}
	.day-item div{
		position: relative;
	}
	.day-item div span{
		position: absolute;
		right: 5px;
	}
	.day-item:hover{
		color: white;
		background-color: #0074d9;
	}
	.day-item:hover .details{
		color: white;
	}
	.details{
		width: 90%;
	}
	.calendario td{
		height: 100%;
		padding: 5px;
		margin: 0px;
	} 

</style>



<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<p>MUSIC AND PLUGIN IN THE AIR. ¡PONE PLAY PUTO!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="largoEgresos" value="<%=dataEgresos.length%>">
<%for(var h=0; h < dataEgresos.length; h++){%>
	<div id="dataEgresos<%=h%>">
		<input type="hidden" class="monto" value="<%=dataEgresos[h].monto%>">
		<input type="hidden" class="detalle" value="<%=dataEgresos[h].detalle%>">
		<input type="hidden" class="fecha_p" value="<%=dataEgresos[h].fecha_p%>">
		<input type="hidden" class="fecha_dia" value="<%=dataEgresos[h].fecha_p.getDate()%>">	
	</div>
<%}%>

<input type="hidden" id="largoIngresos" value="<%=dataIngresos.length%>">
<%for(var h=0; h < dataIngresos.length; h++){%>
	<div id="dataIngresos<%=h%>">
		<input type="hidden" class="monto" value="<%=dataIngresos[h].monto%>">
		<input type="hidden" class="detalle" value="<%=dataIngresos[h].detalle%>">
		<input type="hidden" class="fecha_p" value="<%=dataIngresos[h].fecha_p%>">
		<input type="hidden" class="fecha_dia" value="<%=dataIngresos[h].fecha_p.getDate()%>">	
	</div>
<%}%>
<table>

	<thead class="thead-dark">
			    <tr>
			      <th scope="col">Domingo</th>
			      <th scope="col">Lunes</th>
			      <th scope="col">Martes</th>
			      <th scope="col">Miercoles</th>
			      <th scope="col">Jueves</th>
			      <th scope="col">Viernes</th>
			      <th scope="col">Sabado</th>
			    </tr>
	</thead>
	<tbody class="calendario">
			    
	</tbody>
</table>
<script type="text/javascript">
	
	var data = [];
	for(var a=0; a < $("#largoEgresos").val(); a++){
		data[a] = {
			monto: $("#dataEgresos"+a+" .monto").val(),
			detalle: $("#dataEgresos"+a+" .detalle").val(),
			fecha_p:  $("#dataEgresos"+a+" .fecha_p").val(),
			fecha_dia: $("#dataEgresos"+a+" .fecha_dia").val()
		};
	}

	for(var a=0; a < $("#largoIgresos").val(); a++){
		data[a+data.length] = {
			monto: $("#dataIngresos"+a+" .monto").val(),
			detalle: $("#dataIngresos"+a+" .detalle").val(),
			fecha_p:  $("#dataIngresos"+a+" .fecha_p").val(),
			fecha_dia: $("#dataIngresos"+a+" .fecha_dia").val()
		};
	}
	var mes;
	var dias = [];
	var dias_mes = [31,28,31,30,31,30,31,31,30,31,30,31];
	var fecha = new Date();
	fecha.setFullYear(2017, $("#indice_mes").val()-1, 1);
	var dia_semana = fecha.getDay(); 
	for(var j=1; j <= dias_mes[$("#indice_mes").val()-1]; j++){
			var eventos = [];
			dias[j-1] = new Dia(dia_semana, j, eventos, 0);
			dia_semana++;
			if(dia_semana == 7){
				dia_semana = 0;
			}
	}
	for(var i=0; i< data.length; i++){
		dias[data[i].fecha_dia-1].eventos[dias[data[i].fecha_dia-1].eventos.length] = data[i].detalle;
		dias[data[i].fecha_dia-1].monto += parseInt(data[i].monto);
	}
	mes = new Mes(dias);
	$(".calendario").html(mes.render());
</script>