
<style type="text/css">
	.item{
		border: solid 1px black;
		padding: 20px;
		margin: 15px;
		color: black;
		background-color: white;
		border-radius: 2%;
		box-shadow: 5px 5px 5px rgb(10,10,10);
	}
</style>
<div style="margin-left: 3%; margin-right: 3%; margin-top: 20px; background-color: rgb(255, 202, 51); padding: 20px; box-shadow: 10px 10px 5px #888888; ">


	
<input type="hidden" id="codigo" value="<%=number%>">
<input type="hidden" id="largoEgresos" value="<%=dataEgresos.length%>">
<%for(var h=0; h < dataEgresos.length; h++){%>
	<div id="dataEgresos<%=h%>">
		<input type="hidden" class="id" value="<%=dataEgresos[h].id%>">
		<input type="hidden" class="monto" value="<%=parseInt(dataEgresos[h].monto)*number%>">
		<input type="hidden" class="detalle" value="<%=dataEgresos[h].detalle%>">
		<input type="hidden" class="fecha_p" value="<%=dataEgresos[h].fecha_p%>">
		<input type="hidden" class="fecha_dia" value="<%=dataEgresos[h].fecha_p.getDate()%>">
		<input type="hidden" class="cdc" value="<%=dataEgresos[h].nombre%>">		
	</div>
<%}%>


<h1 class="page-header"><%=titulo%></h1>
<div class="owl-carousel">
</div>



<ul class="list-group container-flujo">
  		

</ul>
	

</div>

<script type="text/javascript">
	
	var array = new arrayFechas([]);
	var idFlujo;

	var data = [];
	for(var a=0; a < $("#largoEgresos").val(); a++){
		console.log(a);
		data[a] = {
			id: $("#dataEgresos"+a+" .id").val(),
			monto: $("#dataEgresos"+a+" .monto").val(),
			detalle: $("#dataEgresos"+a+" .detalle").val(),
			fecha_p:  $("#dataEgresos"+a+" .fecha_p").val(),
			fecha_dia: $("#dataEgresos"+a+" .fecha_dia").val(),
			cdc: $("#dataEgresos"+a+" .cdc").val()
		};
	}

	//console.log(data);
	for(var k=0; k < data.length; k++){
		var indice = array.fechaExiste(data[k].fecha_p);
		if(indice == -1){
			//SI NO EXISTE
			//SE CREA EL REGISTRO DE LA FECHA Y SE AGREGA EL EVENTO
			var ind = array.fechas.length;
			array.fechas[ind] = new Fecha(data[k].fecha_p, new Evento());
			
			var datos = {
				id: data[k].id,
				detalle: data[k].detalle,
				monto: data[k].monto,
				nombre_cdc: data[k].cdc
			}
			array.fechas[ind].eventos.addtoList(datos);
		}
		else{//YA EXISTE REGISTRO DE LA FECHA
			//SE AGREGA EL EVENTO A LA FECHA
			var datos = {
				id: data[k].id,
				detalle: data[k].detalle,
				monto: data[k].monto,
				nombre_cdc: data[k].cdc
			}
			array.fechas[indice].eventos.addtoList(datos);
		
		}
	}


	console.log(array);
	if($("#codigo").val() == -1){
		$(".owl-carousel").html(array.render('E'));
	}
	else if($("#codigo").val() == 1){
		$(".owl-carousel").html(array.render('I'));	
	}
	$(".owl-carousel").owlCarousel({

        navigation : true, // Show next and prev buttons
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem: true

        // "singleItem:true" is a shortcut for:
        //items : 1 
        //itemsDesktop : false
        // itemsDesktopSmall : false,
        // itemsTablet: false,
        // itemsMobile : false
  			});
	

	$(".editDate").on('click', function(e){
		e.preventDefault();
		idFlujo = $(this).data('idflujo');
	});


	$(".saveDate").on('click', function(e){
		e.preventDefault();
		var inputdate =  $("#inputdate"+$(this).data('idinput')).val();
		console.log($(this).val());
		$.ajax({
			type: 'GET',
			url: '/save_date/'+$(this).data('cod')+'/'+idFlujo+'/'+inputdate,
			success: function(data){
                $("#page-container").html(data);
			}
		});
	});

</script>
